<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>InsuranceApp</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
  <header>
    <div class="left"></div>
    <div class="right"></div>
  </header>
  <section class="pure-g">
    <div class="search-container pure-u-1">
      <input type="text" name="search" id="search" placeholder="search for stuff" class="search-box">
    </div>
  </section>
  <section class="pure-g insuree">
    <div class="name-container pure-u-1">
      <p>
        <span class="first-name">Rachel</span>
        <span class="last-name">Zane</span>
      </p>
    </div>
    <div class="dob-container pure-u-1">
      <p class="dob">12/11/1988</p>
    </div>
    <div class="phone-container pure-u-1 pure-u-md-1-5">
      <p class="phone">+16462228976</p>
    </div>
    <div class="email-container pure-u-1 pure-u-md-4-5">
      <p class="email">testmail@gmail.com</p>
    </div>
  </section>
  <script src="../public/app/main.js"></script>
  <script src="../public/app/Util/Validations.js"></script>
  <script src="../public/app/Models/GenericModel.js"></script>
  <script src="../public/app/Models/InsureeModel.js"></script>
  <script src="../public/app/Models/AgentModel.js"></script>
  <script src="../public/app/Models/ItemModel.js"></script>
  <script src="../public/app/Models/CarModel.js"></script>
  <script src="../public/app/Models/BikeModel.js"></script>
  <script src="../public/app/Models/HouseModel.js"></script>
  <script src="../public/app/Models/LifeModel.js"></script>
  <script src="../public/app/Models/OfferModel.js"></script>
  <script src="../public/app/Models/PolicyModel.js"></script>
  <script src="../public/app/Models/InsuredItemModel.js"></script>
  <script src="../public/app/Models/InsuranceModel.js"></script>
  <script src="../public/app/Models/rundatascript.js"></script>
</body>

</html>
