<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>InsuranceApp</title>
</head>

<body>
    <h1>See console.</h1>
    <script src="../public/app/main.js"></script>
    <script src="../public/app/Util/Validations.js"></script>
    <script src="../public/app/Models/GenericModel.js"></script>
    <script src="../public/app/Models/InsureeModel.js"></script>
    <script src="../public/app/Models/AgentModel.js"></script>
    <script src="../public/app/Models/ItemModel.js"></script>
    <script src="../public/app/Models/CarModel.js"></script>
    <script src="../public/app/Models/BikeModel.js"></script>
    <script src="../public/app/Models/HouseModel.js"></script>
    <script src="../public/app/Models/LifeModel.js"></script>
    <script src="../public/app/Models/OfferModel.js"></script>
    <script src="../public/app/Models/PolicyModel.js"></script>
    <script src="../public/app/Models/InsuredItemModel.js"></script>
    <script src="../public/app/Models/InsuranceModel.js"></script>
    <script src="../public/app/Models/rundatascript.js"></script>
</body>

</html>
